.env
.idea
.tox
.vscode
__pycache__
.prettierrc
build
dist
package-lock.json
package.json
test-results.xml

# jupyter notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# virtual environments and other
myenv 
venv
.venv
